@{
    ViewData["Title"] = "Forgot password";
    ViewData["HeaderTitle"] = "Forgot password";
}

<div class="box box-primary">
    <form role="form">
        <div class="box-body">
            <div class="form-group">
                <label>Your registred email:</label>
                <input type="text" class="form-control" placeholder="Enter email">
            </div>
        </div>
        <!-- /.box-body -->
        <div class="box-footer">
            <button type="submit" class="btn btn-sm btn-primary">
                <i class="fa fa-save"></i> Request new password
            </button>
            <a class="btn btn-sm btn-default" href="~/Dashboard">
                Cancel
            </a>
        </div>
    </form>
</div>