@model LiteCommerce.DomainModels.Category

@{
    ViewData["Title"] = "Categories";
    ViewData["HeaderTitle"] = "Add Categories";
}
@* Add input tag stand for ID in case edit ~~~ *@
<div class="box box-primary">
    <form action="~/Categories/Input" method="POST" role="form">
        <div class="box-header text-right">
            <a href="~/Categories">Back to List</a>
        </div>
        <input type="text" name="CategoryID" value="@Model.CategoryID" hidden readonly/>
        <div class="box-body">
            <div class="form-group">
                <label>Category Name:</label>
                <input type="text" name="CategoryName" value="@Model.CategoryName" class="form-control" placeholder="Enter category name">
                @Html.ValidationMessage("CategoryName", new { @class="help-block" })
            </div>
            <!-- textarea -->
            <div class="form-group">
                <label>Description</label>
                <textarea name="Description" class="form-control" rows="10" placeholder="Enter description">@Model.Description</textarea>
            </div>
        </div>
        <!-- /.box-body -->
        <div class="box-footer">
            <button type="submit" class="btn btn-sm btn-primary">
                <i class="fa fa-save"></i> Save
            </button>
            <a class="btn btn-sm btn-default" href="~/Categories">
                Cancel
            </a>
        </div>
    </form>
</div>