@model LiteCommerce.DomainModels.Country

@{
    ViewData["Title"] = "Country";
}

<div class="box box-primary">
    <form action="~/Countries/Input/@Model.CountryID" method="POST" role="form">
        <div class="box-header text-right">
            <a href="~/Countries">Back to List</a>
        </div>
        <div class="box-body">
            <div class="form-group row">
                <div class="col-sm-6">
                    <label>Country ID: @Html.ValidationMessage("CountryID", new { @style="color: #FF0000" }) </label>
                    <input name="CountryID" value="@Model.CountryID" type="text" class="form-control" placeholder="Enter Country ID">
                </div>
                <div class="col-sm-6">
                    <label>Country Name: @Html.ValidationMessage("CountryName", new { @style="color: #FF0000" }) </label>
                    <input name="CountryName" value="@Model.CountryName" type="text" class="form-control" placeholder="Country Name">
                </div>
            </div>
        </div>
        <!-- /.box-body -->
        <div class="box-footer">
            <button type="submit" class="btn btn-sm btn-primary">
                <i class="fa fa-save"></i> Save
            </button>
            <a class="btn btn-sm btn-default" href="~/Countries">
                Cancel
            </a>
        </div>
    </form>
</div>